<!DOCTYPE html>
<html>
<head>
    <title>Iris Prediction</title>
</head>
<body>

    <h2>Iris Flower Prediction</h2>

    <form action="/predict" method="post">
        <label>Sepal Length:</label>
        <input type="text" name="sl" required><br><br>

        <label>Sepal Width:</label>
        <input type="text" name="sw" required><br><br>

        <label>Petal Length:</label>
        <input type="text" name="pl" required><br><br>

        <label>Petal Width:</label>
        <input type="text" name="pw" required><br><br>

        <label>Select Model:</label>
        <select name="model" required>
            <option value="KNN">KNN</option>
            <option value="NB">Naive Bayes</option>
        </select>
        <br><br>

        <button type="submit">Predict</button>
    </form>

    {% if prediction %}
    <h3>Prediction: {{ prediction }}</h3>
    {% endif %}

</body>
</html>
